@media (max-width:575px) {
    .nav-item {
        padding: 0;
        margin-bottom: 5px;
        display: inline-block;
    }
    .navbar-brand{
        margin: 0 10px;
    }
    .navbar-nav {
        text-align: center;
    }

    .navbar-expand-lg .navbar-nav .nav-link {

        display: inline-block;
    }

    .phone,
    .col_none {

        display: none;
    }

    .lg_phone {
        display: inherit;
    }

    .height {
        min-height: 90vh;
        padding-bottom: 50px;
    }

    body {
        text-align: center;
    }

    .margin_b {
        margin-bottom: 15px;
    }

    .btn-features {
        padding: 10px 20px;
        margin: 0;
    }

    .btn-download {
        margin-left: 20px;
    }

    .content_part span{
        display: inline-block;
    }
    .contact_section{
        padding-bottom: 450px;
    }
    .btn-download {
       
        margin-bottom: 15px;
        text-align: center !important;
    }
  
}

@media (max-width:320px) {

    .btn-features {
        padding: 10px 15px;
        margin: 0;
    }

    .btn-download {
        margin-left: 15px;
        margin: 25px 0;
    }

    .dwn_now {}

    .v_fet {margin: 0;}

    .center {text-align: center!important;}

    .contact_section p {
        font-size: 8px;
    }

    footer ul {
   
        justify-content: space-between;
    }

    .btn-download {
       
        margin-bottom: 15px;
        text-align: center !important;
    }
  
      
}







